<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259110080839-cspm5q30didm6vvadsh7a9k0n04de5s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259110080839-cspm5q30didm6vvadsh7a9k0n04de5s3</string>
	<key>API_KEY</key>
	<string>AIzaSyCxn0_QykhlT5usZfKfW1yXTyeqaX3s5Is</string>
	<key>GCM_SENDER_ID</key>
	<string>259110080839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my-org.CPSC362-test</string>
	<key>PROJECT_ID</key>
	<string>cpsc362-test-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>cpsc362-test-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259110080839:ios:459b59db08be7b7adc7c62</string>
</dict>
</plist>